footer {
    margin-top: 100%;
    
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 4%;
        padding-bottom: 6%;

        @media screen and (max-width: 590px) {
            flex-direction: column;
            min-height: 200px;
            padding: 3%;
        }
    }

    ul {
        min-height: 60px;
        min-width: 430px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        a {
            color : $white;
            &:visited {
                color : $white;
            }
        }

        @media screen and (max-width: 590px) {
            flex-direction: column;
            min-height: 230px;
            min-width: 130px;
            
            a {
                text-align: center;
            }
        }
    }
}